In [1]:
import pandas as pd

In [20]:
DATA_DIR = './data/'
data_file = 'all.xlsx'
sheets = ['2015KTM', '2016KTM', '2017KTM', '2018KTM', '2015PKR', '2016PKR', '2018PKR']
SKIP_ROWS = 1
ref_ktm = 'midasktm.xlsx'
ref_pkr = 'midaspkr.xlsx'

In [17]:
df = pd.read_excel(DATA_DIR + data_file, sheet_name=sheets[0], skiprows=SKIP_ROWS)

In [18]:
df.head()

,सि.न,पर्यटकको नाम,भर्ना/OPD मिती,डिस्चार्ज मिती,उपचारको कारण,उपचार रकम (रु),उपचार रकम (USD),बीमा दाबी रकम (रु),बीमा दाबी रकम (USD),बिरामी ले तिरेको पोलिसी रकम (रु),बिरामी ले तिरेको पोलिसी रकम (USD),बीमा कम्पनी,पर्यटक्लाई अस्प्ताल ल्याउने उद्दार कम्पनी,पर्यटक उद्धार गर्ने हेलिकप्टर कम्पनी,कैफियत,Unnamed: 15
0,1,15869,2015-01-03,-,ams,13367,132,0.0,0,0.0,0,Self,NaN,NaN,NaN,NaN
1,2,15873,2015-01-04,-,ACUTE MOUNTAIN SICKNESS,11661,116,0.0,0,0.0,0,Self,OUTFITTER NEPAL,NaN,NaN,NaN
2,3,15879,2015-01-05,-,DEHYDRATION,32385,321,0.0,0,0.0,0,Self,4438262,NaN,NaN,NaN
3,4,15893,2015-01-06,-,ACUTE MOUNTAIN SICKNESS \nHIGH ALTITUDE CEREBR...,15317,151,0.0,0,0.0,0,Self,ACE THE HIMALAYA,NaN,NaN,NaN
4,5,15892,2015-01-06,-,? HIGH ALTITUDE PULMONARY EDEMA \nACUTE MOUNTA...,17632,174,0.0,0,0.0,0,Self,ACE THE HIMALAYA,NaN,NaN,NaN

In [21]:
refdata = pd.read_excel(DATA_DIR + ref_ktm)

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [22]:
refdata.head()

,DISBILLDATE,HOSPITALNO,NAME,DOB,GENDER,COUNTRY,BILLNO,AGENCY,INSURANCE,DIAGNOSIS,TOTALAMOUNTINNPR,TOTALAMOUNTINUSD,CLAIMEDAMTINNPR,CLAIMEDAMTINUSD,POLICYAMOUNTINNPR,POLICYAMOUNTINUSD,INPTDATE,DISDATE,ISIPD,HELIRESDATE
0,2015/01/12,15791,TAN KOK CHUAN,1962/07/12,MALE,NaN,CR71/72-0005071,SHERPA HOLIDAY,AIG TRAVEL ASIA PACIFIC PTE. LTD.,HIGH ALTITUDE PULMONARY EDEMA \r\nPROBABLE...,258093.960879,2595.7353,258093.960879,2595.7353,0.0,0.0,NaN,NaN,Y,2014/12/28
1,2015/01/12,15785,DAVID COLLEY,1959/04/26,MALE,AUSTRALIA,CR71/72-0005072,,Self,HIGH ALTITUDE PULMONARY EDEMA \r\nACUTE CON...,202506.336732,2036.6724,0.000000,0.0000,0.0,0.0,NaN,NaN,Y,2014/12/27
2,2015/01/12,15817,KYLIE TIVER,1972/02/10,FEMALE,AUSTRALIA,CR71/72-0005075,,"QBE INSURANCE, AUSTRALIA",ACUTE MOUNTAIN SICKNES / MILD HIGH ALTITUDE ...,378307.803836,3804.7652,378307.803836,3804.7652,0.0,0.0,NaN,NaN,Y,2014/12/30
3,2015/01/21,15888,BERYL COLLEY,1964/05/01,FEMALE,NEWZEALAND,CR71/72-0005279,,FIRST ASSISTANCE,HIGH ALTITUDE CEREBRAL EDEMA\r\nACUTE MOUNTAI...,45517.095091,462.5251,45517.095091,462.5251,0.0,0.0,NaN,NaN,N,2015/01/06
4,2015/01/21,16005,ROYAL REFF,1985/06/11,MALE,USA,CR71/72-0005281,,INTL SOS SERVICES (FOR TRICARE),ACUTE MOUNTAIN SICKNESS.\r\nHIGH ALTITUDE PUL...,12399.660000,126.0000,12399.660000,126.0000,0.0,0.0,NaN,NaN,N,2015/01/14

In [23]:
merged = df.merge(refdata, how='left', left_on='पर्यटकको नाम', right_on='HOSPITALNO')

In [24]:
len(merged)

245

In [27]:
merged[merged['HOSPITALNO'].duplicated()]

,सि.न,पर्यटकको नाम,भर्ना/OPD मिती,डिस्चार्ज मिती,उपचारको कारण,उपचार रकम (रु),उपचार रकम (USD),बीमा दाबी रकम (रु),बीमा दाबी रकम (USD),बिरामी ले तिरेको पोलिसी रकम (रु),...,TOTALAMOUNTINNPR,TOTALAMOUNTINUSD,CLAIMEDAMTINNPR,CLAIMEDAMTINUSD,POLICYAMOUNTINNPR,POLICYAMOUNTINUSD,INPTDATE,DISDATE,ISIPD,HELIRESDATE
121,121,17032,2015-03-26,2015/03/27,TACHYARRHYTHMIA \nPOSSIBLE CORONARY ISCHAEMIA ...,243661,2382,243661.0,2382,0.0,...,32359.908000,303.450000,32359.908000,303.450000,0.0,0.0,NaN,NaN,N,2015/12/10
136,135,18991,2015-10-02,2015/10/03,ACUTE MOUNTAIN SICKNESS. \nFROST BITE GRADE 1.,130031,1244,0.0,0,0.0,...,9871.298560,96.399400,0.000000,0.000000,0.0,0.0,NaN,NaN,N,2017/05/05
189,187,19405,2015-11-01,-,"FROST BITE, FINGER",21801,208,0.0,0,0.0,...,180764.673111,1671.734700,0.000000,0.000000,0.0,0.0,NaN,NaN,Y,2016/12/14
232,230,17032,2015-12-10,-,AMS/ HACE,32360,303,32360.0,303,0.0,...,243661.376887,2382.064492,243661.376887,2382.064492,0.0,0.0,NaN,NaN,Y,2015/03/26
233,230,17032,2015-12-10,-,AMS/ HACE,32360,303,32360.0,303,0.0,...,32359.908000,303.450000,32359.908000,303.450000,0.0,0.0,NaN,NaN,N,2015/12/10